/.vscode
/e2e
/node_modules
/src
/gulp
/tmp
/temp
/node
/dist/demo
/docs
.editorconfig
.gitignore
angular-cli.json
gulpfile.js
karama.confg.js
protractor.conf.js
tsconfig.webpack.json
tsling.json
webpack.config.js
npm-debug.log
debug.log

