div.menu-container {
}

div.menu {
    color: #9d9d9d;
    background-color: #222;
}

.menu div.list {
}

.menu .list ul {
}

.menu .list ul.left {
}

.horizontal div.menu {
}

.vertical div.menu div {
}

.menu div.list {
    height: 50px;
}

.menu div.header {
}

.menu .header a.label {
    color: #9d9d9d;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    font-weight: normal;
    cursor: default;
}

.menu .header a.label:hover{
    color: #ffffff;
}

.menu .list ul{
}

.menu .list ul.left,
.menu .list ul.right {
}

.menu  .list ul.right{
}

.menu .list ul.top,
.menu .list ul.bottom{
}

.menu .list li.item {
}

.menu a.button,
.menu a.nav-link {
    color: #9d9d9d;
    padding:15px;
    text-decoration: none;
    cursor: pointer;
}

.menu a.button:hover,
.menu a.nav-link:hover {
    color: #ffffff;
}

.menu a.button.expand {
}

.vertical .menu .list li.item {
    padding: 15px;
}

.vertical div.menu {
    width:auto;
}

.collapsable.horizontal div.menu {
    height: 50px;
}

.collapsable.horizontal div.menu.cllapsed {
    
}

.collapsable.horizontal div.menu.expanded {
}

.collapsable .menu div.header {
}

.collapsable .controls a.button.toggle {
    color: #9d9d9d;
    background-color: #222;
    text-decoration: none;
    cursor: pointer;
}

.collapsable.horizontal.normal .controls a.button.toggle {
    margin-top:14px;
    margin-right:14px;
}

.collapsable.horizontal.reverse .controls a.button.toggle {
    margin-bottom:14px;
    margin-right:14px;
}


.collapsable .controls a.button.toggle:hover {
    color: #ffffff;
}

.collapsable.horizontal .menu div.list {
}

.collapsable.horizontal .menu.cllapsed div.list {
}

.collapsable.horizontal .menu.expanded div.list {
}

.collapsable .menu .list ul.left,
.collapsable .menu .list ul.right {
}

.collapsable .menu .list li.item {
    padding: 15px;
}

